<header>
    <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/res/logo.png" alt="Arealship" width="32px" height="32px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.url }}/blog">Blog</a></li>
                    <li><a href="{{ site.url }}/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="{{ site.url }}/lightsaml">Lightsaml</a></li>
                    <li ><a href="{{ site.url }}/samlspbundle">SamlSpBundle</a></li>
                    <li ><a href="{{ site.url }}/steel-mq">Steel-MQ</a></li>
                    <li ><a href="{{ site.url }}/as-js">AS-JS</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
    </nav>
</header>
